In [1]:
import pandas as pd
# Đường dẫn đến tệp Excel
file_path = 'D:\Dowload\DsSV_Kỳ 1 năm học 2023-2024_gửi Hùng.xlsx'

# Đọc dữ liệu từ tệp Excel
df = pd.read_excel(file_path)
print(df)

<>:3: SyntaxWarning: invalid escape sequence '\D'
<>:3: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21928\4170994694.py:3: SyntaxWarning: invalid escape sequence '\D'
  file_path = 'D:\Dowload\DsSV_Kỳ 1 năm học 2023-2024_gửi Hùng.xlsx'

           Lớp    MSV Mã học phần                        Tên học phần  \
0      46K23.1      1     HOS3010  An ninh và an toàn trong khách sạn
1      46K23.1      2     HOS3010  An ninh và an toàn trong khách sạn
2      46K23.1      3     HOS3010  An ninh và an toàn trong khách sạn
3      46K23.1      4     HOS3010  An ninh và an toàn trong khách sạn
4      46K23.1      5     HOS3010  An ninh và an toàn trong khách sạn
...        ...    ...         ...                                 ...
99310  47K13.2  12610     LAW3040          Xây dựng văn bản pháp luật
99311  47K13.2  12611     LAW3040          Xây dựng văn bản pháp luật
99312  47K13.2   2274     LAW3040          Xây dựng văn bản pháp luật
99313  47K13.2  12612     LAW3040          Xây dựng văn bản pháp luật
99314  47K13.2  12432     LAW3040          Xây dựng văn bản pháp luật

      Đề thi TA  Số tín chỉ     Lớp học phần Loại đăng ký HP miễn ngoại ngữ  \
0           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
1           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
2           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
3           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
4           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
...         ...         ...              ...          ...               ...
99310       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99311       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99312       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99313       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99314       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN

                Ghi chú           Hình thức thi
0                   NaN  Thi viết (Trắc nghiệm)
1                   NaN  Thi viết (Trắc nghiệm)
2                   NaN  Thi viết (Trắc nghiệm)
3                   NaN  Thi viết (Trắc nghiệm)
4                   NaN  Thi viết (Trắc nghiệm)
...                 ...                     ...
99310               NaN      Thi viết (Tự luận)
99311               NaN      Thi viết (Tự luận)
99312               NaN      Thi viết (Tự luận)
99313  SV tạm ngừng học      Thi viết (Tự luận)
99314               NaN      Thi viết (Tự luận)

[99315 rows x 11 columns]

In [2]:
# Danh sách các giá trị cần loại bỏ
values_to_remove = ['BCTTTN', 'Chấm báo cáo', 'Khóa luận', 'Nộp tiểu luận', 'Nộp tiểu luận + Vấn đáp', 
                    'Nộp tiểu luận và vấn đáp', 'Thi thực hành trên máy tính', 'Thi vấn đáp', 
                    'Thi vấn đáp và Thực hành (Video)', '','Thi Vấn đáp']  # Trong trường hợp các dòng trống

# Xóa các dòng có giá trị nằm trong danh sách
df = df[~df['Hình thức thi'].isin(values_to_remove)]

In [3]:
# Danh sách các giá trị cần loại bỏ
values_to_remove = ['GDTC 1','GDTC 2','GDTC 3','GDTC 4']  # Trong trường hợp các dòng trống

# Xóa các dòng có giá trị nằm trong danh sách
df = df[~df['Tên học phần'].isin(values_to_remove)]

In [4]:
import re

# Lựa chọn các dòng có lớp có tiền tố là "49k" và không có dạng số ở cuối
df = df[~df['Lớp'].str.contains(r'^49K\d*\.?')]


# In DataFrame sau khi loại bỏ các lớp "49k" có nhiều lớp con
print(df)

           Lớp    MSV Mã học phần                        Tên học phần  \
0      46K23.1      1     HOS3010  An ninh và an toàn trong khách sạn
1      46K23.1      2     HOS3010  An ninh và an toàn trong khách sạn
2      46K23.1      3     HOS3010  An ninh và an toàn trong khách sạn
3      46K23.1      4     HOS3010  An ninh và an toàn trong khách sạn
4      46K23.1      5     HOS3010  An ninh và an toàn trong khách sạn
...        ...    ...         ...                                 ...
99310  47K13.2  12610     LAW3040          Xây dựng văn bản pháp luật
99311  47K13.2  12611     LAW3040          Xây dựng văn bản pháp luật
99312  47K13.2   2274     LAW3040          Xây dựng văn bản pháp luật
99313  47K13.2  12612     LAW3040          Xây dựng văn bản pháp luật
99314  47K13.2  12432     LAW3040          Xây dựng văn bản pháp luật

      Đề thi TA  Số tín chỉ     Lớp học phần Loại đăng ký HP miễn ngoại ngữ  \
0           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
1           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
2           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
3           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
4           NaN           2  HOS3010_46K23.1  Học lần đầu               NaN
...         ...         ...              ...          ...               ...
99310       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99311       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99312       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99313       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN
99314       NaN           2  LAW3040_47K13.2  Học lần đầu               NaN

                Ghi chú           Hình thức thi
0                   NaN  Thi viết (Trắc nghiệm)
1                   NaN  Thi viết (Trắc nghiệm)
2                   NaN  Thi viết (Trắc nghiệm)
3                   NaN  Thi viết (Trắc nghiệm)
4                   NaN  Thi viết (Trắc nghiệm)
...                 ...                     ...
99310               NaN      Thi viết (Tự luận)
99311               NaN      Thi viết (Tự luận)
99312               NaN      Thi viết (Tự luận)
99313  SV tạm ngừng học      Thi viết (Tự luận)
99314               NaN      Thi viết (Tự luận)

[59516 rows x 11 columns]

In [5]:
# In ra kết quả

df.to_excel('D:\Báo cáo tốt nghiệp\Dữ liệu gốc.xlsx', index=False)

<>:3: SyntaxWarning: invalid escape sequence '\B'
<>:3: SyntaxWarning: invalid escape sequence '\B'
C:\Users\Admin\AppData\Local\Temp\ipykernel_21928\196426446.py:3: SyntaxWarning: invalid escape sequence '\B'
  df.to_excel('D:\Báo cáo tốt nghiệp\Dữ liệu gốc.xlsx', index=False)